src/example/Manhua.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="url" type="xsd:string"/>
   <element name="getStatusReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStatusRequest">

      <wsdl:part element="impl:url" name="url"/>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part element="impl:getStatusReturn" name="getStatusReturn"/>

   </wsdl:message>

   <wsdl:portType name="Manhua">

      <wsdl:operation name="getStatus" parameterOrder="url">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManhuaSoapBinding" type="impl:Manhua">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManhuaService">

      <wsdl:port binding="impl:ManhuaSoapBinding" name="Manhua">

         <wsdlsoap:address location="http://localhost:8080//services/example/Manhua"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
